<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iodaniel.mobileclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="AfriLearn"
        android:roundIcon="@drawable/app_logo"
        android:requestLegacyExternalStorage="true"
        android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|uiMode|screenLayout"
        android:supportsRtl="false"
        android:theme="@style/Theme.MobileClass">
        <activity
            android:name=".shared_classes.FragmentAccountSettings"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".student_package.AClass"
            android:theme="@style/Theme.AClass"
            android:exported="false" />
        <activity
            android:name=".teacher_package.singleclass.material.MaterialPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".accessing_mobile_app.SignInOrSignUp" />
        <activity android:name=".student_package.StudentInitPage"
            android:theme="@style/Theme.StudentClass"/>
        <activity android:name=".accessing_mobile_app.SignUp" />
        <activity android:name=".accessing_mobile_app.SignIn"
            android:theme="@style/Theme.TeacherPage"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacher_package.classes.ClassUpload"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".teacher_package.singleclass.AClass"
            android:theme="@style/Theme.TeacherPage" />
        <activity android:name=".teacher_package.classes.ActivityMyClasses"
            android:theme="@style/Theme.TeacherPage"/>
        <activity android:name=".student_package.ActivityMyClasses"
            android:theme="@style/Theme.StudentClass"/>
        <activity android:name=".student_package.ViewMaterial" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>